body {
    background-color: ghostwhite;
}

h1, h4 {
    color: blueviolet;
    text-align: center;
}

.nombres {
    text-align: center;
}

.sizes {
    text-align: center;
}

.sizes button:hover{
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.start {
    text-align: center;
}
